@model List<Additional>
@using Microsoft.AspNetCore.Identity
@using AuthSystem.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card {
        border: 2px solid black;
        border-radius: 10px;
    }

    .card-body {
        padding: 30px;
    }

    .display-4 {
        color: #17a2b8;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .user-info {
        margin-bottom: 20px;
        color: #495057;
        font-size: 1.1rem;
    }

        .user-info strong {
            color: green;
        }

        .user-info .email {
            display: inline-block;
            width: calc(100% - 100px); /* Calculate remaining width */
            vertical-align: top;
        }

    .table {
        margin-bottom: 20px;
    }

        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

        .table th {
            background-color: maroon;
            color: #fff;
        }

        .table th, .table td {
            border: 2px solid black;
        }

    .btn-primary {
        background-color: rebeccapurple;
           border:none;        
        font-weight: bold;
    }

        .btn-primary:hover {
            background-color: purple;
            border: none;
        }

    .btn-custom-width {
        width: 80px; /* Adjust the width as needed */
        margin-top: 2px;
    }
    <style >
    

</style>
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                <h4> @ViewData["FirstName"]  @ViewData["LastName"]</h4>
                    <div class="user-info">
                        <p><strong>User ID:</strong> @ViewData["UserID"]</p>
                        <p><strong>Email:</strong> <span class="email">@ViewData["Email"]</span></p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Social Media</th>
                                <th scope="col">URL</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Additional items -->
                            @foreach (var additionalItem in Model)
                            {
                                <tr>
                                    <td>@additionalItem.Title</td>
                                    <td>@additionalItem.Value</td>
                                    <td>
                                        <button class="btn btn-sm btn-primary  btn-custom-width" onclick="editItem(this)" data-item-id="@additionalItem.Id">Edit</button>
                                        <form id="deleteForm-@additionalItem.Id" method="post" asp-action="Delete" asp-controller="Home">
                                            <input type="hidden" name="id" value="@additionalItem.Id" />
                                            <button type="submit" class="btn btn-sm btn-danger btn-custom-width">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button class="btn btn-primary" onclick="openAddItemModal()">Add Social Medial Links</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Mode for editing an item *@
<div class="modal" id="editItemModal" tabindex="-1" role="dialog">
    <form id="editItemForm" asp-controller="Home" asp-action="Edit" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal"  onclick="closeEditModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editItemName">Item Name:</label>
                        <input type="hidden" class="form-control" id="editItemId" name="editItemId"> <!-- Hidden field to store the ID -->
                        <input type="text" class="form-control" id="editItemName" name="editItemName">
                    </div>
                    <div class="form-group">
                        <label for="editItemValue">Value:</label>
                        <input type="text" class="form-control" id="editItemValue" name="editItemValue">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeEditModal()" >Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal for adding new item -->
<div class="modal" id="addItemModal" tabindex="-1" role="dialog">
    <form id="addItemForm"  asp-controller="Home" asp-action="Save" method="post" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Item</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeAddItem()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="itemName">Social Media:</label>
                        <input type="text" class="form-control" id="itemName" name="itemName">
                    </div>
                    <div class="form-group">
                        <label for="itemValue">URL</label>
                        <input type="url" class="form-control" id="itemValue" name="itemValue">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeAddItem()" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        function openAddItemModal() {
            $('#addItemModal').modal('show');
        }

        function editItem(button) {

            
            var row = $(button).closest('tr');
            var itemName = row.find('td:first-child').text();
            var itemValue = row.find('td:nth-child(2)').text();

            $('#editItemName').val(itemName);
            $('#editItemValue').val(itemValue);
            var itemId = $(button).data('item-id');
            $('#editItemId').val(itemId); 


            $('#editItemModal .modal-title').text('Edit Item');
            $('#editItemForm').attr('asp-action', 'Edit');

            $('#editItemModal').modal('show');
        }

        function closeEditModal() {
            $('#editItemModal').modal('hide');
        }

        function closeAddItem() {
            $('#addItemModal').modal('hide');

        }

        function deleteItem(button) {

            $(button).closest('tr').remove();
        }

    </script>
}
